body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-right{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #f1f1f1;
    height: 50px;

}

.top-right a{
    color: black;
    padding: 10px;
    text-decoration: none;

}

.links{
    margin-left: auto;
}


.mid_bottom{
    margin-top: 150px;
    text-align: center;
}

.google_image{
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.center{
    margin-top: 10px;
    text-align: center;
}

.bottom{
    margin-top: 150px;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 15px;
    padding: 15px;
    color: #70757a;
}

.first_row{
    text-align: left;
}
.imagen_cuadrado_puntos{
    padding: 0px;
    height: 20px;
    width: 20px;
}

.seraching_bar{
    font-size: 16px;
    width: 400px;
    padding: 13px 0;
}

