h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
    border: 5px solid orange;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}