.container{
    display: flex;
    border: solid green;
}

.left-bar{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    gap: 1rem;
}

.item{
    background-color: salmon;
    padding: 0.25rem;
    color: white;
    font-size: 2rem;
    border: solid black;
}

.main{
    background-color: cyan;
    padding: 15px;
    flex-grow: 1;
    font-size: 2rem;

}

@media (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
    }
    .left-bar {
        flex-direction: row;
        justify-content: space-evenly;
    }
}